#product-banners img {
  width: 100%;
  height: 250px;
  object-position: center top;
  object-fit: fill;
}

#products .slick-list {
  padding: 1rem 0.2rem;
}

#products .slick-slider {
  display: flex;
  align-items: center;
}
