#product-img {
  height: 100%;
  width: 100%;
  max-height: 230px;
  min-height: 230px;
  transition: transform 0.3s;
  cursor: pointer;
  object-fit: contain;
}
#product-img:hover {
  transform: scale(1.3);
}

#product-card-three #product-img {
  object-fit: cover;
  object-position: center;
}
#product-card-three #image-div {
  max-height: 170px;
  overflow: hidden;
}

#image-div {
  max-height: 250px;
  overflow: hidden;
}

#product-card-two #product-img {
}

#product-card-one h3,
p {
  margin: 0.5rem;
}

#product-card-three h3,
p {
  margin: 0;
}

#product-card-one {
  padding: 1rem;
}
#heart-icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: red;
  z-index: 3;
}

#product-card-one,
#product-card-two {
  position: relative;
  top: 0;
  max-width: 300px;
}
#product-card-three {
  position: relative;
  top: 0;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.5rem;
}
