.current-link .MuiTypography-colorPrimary {
  color: black;
  border-bottom: 3px solid black;
}

.header-links {
  border-bottom: 2px solid grey;
}

.links {
  text-decoration: none;
  color: inherit;
}
.MuiBadge-badge {
  background-color: #03d061;
  color: #fff;
}

.navbar-tabs-active {
  color: grey;
}

.App {
  background-color: #fff;
}
